[Desktop Entry]
Name=pySolo-Video-GUI
X-GNOME-FullName=pySolo Video GUI
Comment=GUI to pySolo Video Extension
Exec=/opt/pySolo-Video/pvg.py
Terminal=false
Type=Application
Icon=/opt/pySolo-Video/pysolo-video.svg
Categories=GNOME;AudioVideo;Scientific
