

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.log{
    margin: 0px;
    padding: 0px;
}

.color-green{
    color: green;
}
.color-red{
    color: red;
}

.last_drawn_img{
    margin-bottom: 1em;
}


.option{
    text-align: center;
    margin-right: 2em;
}

.device-list{
    margin-right: 2em;
}
.file-list{
    list-style: none;
}
.right{
    float:right;
}
.intro{
    margin: 1em;
}

.option-list li{
list-style: none;
}

p {
    text-align: left;
}

#dt_warning{
    color: red;
}


li {
    text-align: left;
    font-size= 150%;
}

h2 {
    text-align: left;
}

input {
    padding-top: 0em;
}

input[type="text"] {
width: 200px;
}

input[type="number"] {
width: 75px;
}


label {
    display: block;
    padding-top: 0.5em;
    font-weight: normal;
    font-style: italic;
}


/*  <div class="trim-info" tooltip="{{modal.title}}">{{modal.title}}</div> */
.trim-info {
      max-width: 50px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;  
      line-height: 15px;
      position: relative;
   }


/* Dropdown Button */
/* https://codepen.io/raneio/pen/NbbZEM */


label.dropdown {
    font-weight: normal;
    font-style: normal;
    color: #000000;
}

/* Dropdown */

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {

  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
    
  display: inline-block;
  padding: 0.45em 2.5em 0.40em 1em;
  background-color: #b6b6b6;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  background-color: #a6a6a6;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}
