<!-- index.html -->
    <!DOCTYPE html>
    <html ng-app="updater">
    <head>
        <meta charset="utf-8">
        <base href="/">
      <!-- SCROLLS -->
      <!-- load bootstrap and fontawesome via CDN -->
      <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
      <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/static/css/main.css" />


    </head>
    <body ng-controller="mainController">

        <!-- HEADER AND NAVBAR -->
        <header>
            <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Ethoscope Updater</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href=""><i class="fa fa-cog"></i> Help</a></li>
                </ul>
            </div>
            </nav>
        </header>

        <!-- MAIN CONTENT AND INJECTED VIEWS -->
        <div id="main" class="container">
            <!-- home.html -->
    <div class="jumbotron text-center" ng-cloak>
        <h3>Available version</h3>
        <div class="intro"><span class = "fa fa-code-fork"></span> <b>[{{node.active_branch}}]</b>, {{node.check_update.origin_commit.id.substring(0,6)}}... ({{node.check_update.origin_commit.date}})</div>

        <div  id="loading_devices" class="spinner"><h2>{{spinner_text}}</h2></div>

        <div id="error" ng-if="system.error != null">
            <p>{{system.error}}</p>
        </div>
     </div>
    <div class="jumbotron table-background" ng-cloak>
        <h3>Select some devices to perform the actions below:</h3>
        <button class="btn btn-success btn-xl" ng-click="activate_modal(selected_devices, 'update')">Update</button>
        <button class="btn btn-default" ng-click="activate_modal(selected_devices, 'restart')">Restart</button>
        <button class="btn btn-default" ng-click="activate_modal(selected_devices, 'swBranch')">Switch Branch</button>
    <hr>

    <div  id="scanning_devices" class="spinner_scan"></div>
    <table class="table table-striped" ng-cloak>
            <thead>
            <th>Name</th>
            <th>Status</th>
            <th>Software Version</th>
            <th>ip</th>
            <th>id</th>
            <th><center>Select</center></th>
            </thead>
            <tbody>
            <tr>
                <td>
                    
                   <span ng-if="node.check_update.up_to_date==false" class="fa fa-circle color-red"></span> <span ng-if="node.check_update.up_to_date==true" class="fa fa-circle color-green"></span><span> Node <span ng-if="node.check_update.up_to_date==false" > [Outdated]</span> <span ng-if="node.check_update.up_to_date==true" >[Up to Date]</span></span>
                    
                </td>
                <td>{{node.status}}</td>
                <td>[{{node.active_branch}}] {{node.check_update.local_commit.id.substring(0,6)}}...
                    ({{node.check_update.local_commit.date}})</td>
                <td>{{node.ip}}</td>
                <td>N/A<!--{{node.info.id.substring(0,6)}}--></td>
                <td><center>
                    <input type="checkbox" checklist-model="selected_devices" checklist-value="node"></center>
                </td>
            </tr>
            <tr ng-repeat="(id,device) in devices">

                <td>
                    
                    <span ng-if="device.up_to_date==false" class="fa fa-circle color-red"></span> <span ng-if="device.up_to_date==true" class="fa fa-circle color-green"></span>
                        <span> {{device.name}}<span ng-if="device.up_to_date==false" > [Outdated]</span> <span ng-if="device.up_to_date==true" >[Up to Date]</span></span>
                
                </td>
                <td> {{device.status}}</td>
                <td>[{{device.active_branch}}] {{device.version.id.substring(0,6)}}... ({{device.version.date}})</td>
                <td>{{device.ip}}</td>
                <td>{{device.id.substring(0,6)}}</td>
                <td><center>
                    <input type="checkbox" checklist-model="selected_devices" checklist-value="device"></center>
                </td>
            </tr>
            </tbody>
    </table>

</div>

<!--Modal-->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="startModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          {{modal.title}}
      </div>
        <div class = "model-body" ng-if="system.modal_error != ''">
            <h3>{{system.modal_error}}</h3>
        </div>

      <div class="modal-body " ng-if="system.modal_error == ''">
          {{modal.info}}
          <select ng-show="modal.action=='swBranch'" name="branch_to_switch" ng-model="modal.branch_to_switch">
              <option ng-repeat="(key, name) in system.status" value="{{key}}">{{key}}</option>
          </select>
            <table class="table table-striped" ng-cloak>
            <thead>
            <th>Name</th>
            <th>Status</th>
            <th>Software Version</th>
            <th>ip</th>
            <th>id</th>
            </thead>
            <tbody>
            
            <tr ng-repeat="(id,device) in selected_devices">

                <td>
                    <a ng-href="/#ethoscope/{{device.id}}" target="_blank">
                    <span ng-if="device.up_to_date==false" class="fa fa-circle colour-red"></span> <span ng-if="device.up_to_date==true" class="fa fa-circle colour-green"></span>
                        <span> {{device.name}}</span>
                    </a>
                </td>
                <td> {{device.status}}</td>
                <td>[{{device.active_branch}}] {{device.version.id.substring(0,6)}}... ({{device.version.date}})</td>
                <td>{{device.ip}}</td>
                <td>{{device.id.substring(0,6)}}</td>
            </tr>
            </tbody>
    </table>
        </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-click="modal_action(selected_devices, modal.action)" target="_blank" type="button" class="btn btn-primary"  ng-if="system.modal_error == ''">{{modal.action_text}}</button>
      </div>
    </div>
  </div>
</div>            
            

    <!--JS-->

    <!-- load angular and angular route via CDN -->
    <script src="static/js/vendor/angular.min.js"></script>
    <script src="static/js/vendor/angular-route.min.js"></script>
    <script src="static/js/vendor/spinner.js"></script>
    <script src="static/js/vendor/jquery.min.js"></script>
    <script src="static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/script.js"></script>
    <script src="/static/js/vendor/dataTables/jquery.dataTables.js"></script>
    <script src="/static/js/vendor/dataTables/dataTables.bootstrap.js"></script>
    <script src="static/js/directives/checkboxes.js"></script>



    </body>
    </html>


