<!-- home.html -->
    <div class="jumbotron text-center" ng-cloak>
        <h1>Platform Overview</h1>

        <!--<div class="intro">Scan the network to detect connected ethoscopes</div>-->
        <!--<button class=" btn btn-default" ng-click="get_devices()">Scan Network for Devices</button>-->

        <div id="node-info" class="intro">
             <div class="row">
                 <div class="col-sm-6">
                <h2><span class="fa fa-list"></span> {{n_devices}} devices:</h2>
                    <li ng-repeat="(status, n) in status_n_summary">{{n}} {{status}} </li>
                </div>

                <div class="col-sm-6">
                <h2><span class="fa fa-clock-o"></span> Time:</h2>
                    <li> On the platform, {{time}}</li>
                    <li> On your machine, {{localtime}}</li>
                </div>

            </div>
        </div>

    </div>

<!-- **** SENSORS LIST TABLE **** -->
<div ng-if="has_sensors" >
<table class="table table-striped" ng-cloak>
            <thead>
            <th>
                <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse; orderSensors = True">
                Name
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'status'; sortReverse = !sortReverse">
                Status
                <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'location'; sortReverse = !sortReverse">
                Location
                <span ng-show="sortType == 'location' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'location' && sortReverse" class="fa fa-caret-up"></span>    
            </th>
            <th>
                <a href="#" ng-click="sortType = 'temperature'; sortReverse = !sortReverse">
                Temperature
                <span ng-show="sortType == 'temperature' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'temperature' && sortReverse" class="fa fa-caret-up"></span>    
            </th>
            <th>
                <a href="#" ng-click="sortType = 'humidity'; sortReverse = !sortReverse">
                Humidity
                <span ng-show="sortType == 'humidity' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'humidity' && sortReverse" class="fa fa-caret-up"></span>    
            </th>
            <th>
                <a href="#" ng-click="sortType = 'light'; sortReverse = !sortReverse">
                Light
                <span ng-show="sortType == 'light' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'light' && sortReverse" class="fa fa-caret-up"></span>    
            </th>
            <th>
                <a href="#" ng-click="sortType = 'ip'; sortReverse = !sortReverse">
                ip
                    <span ng-show="sortType == 'ip' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'ip' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                id
                <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            </thead>
            <tbody>
            <tr ng-repeat="sensor in sensors |  orderObjectBy:sortType:sortReverse:orderSensors">
                <td>
                    <div ng-if="sensor.status != 'offline'">
                        <a ng-href="/#sensor/{{sensor.id}}" target="_blank">
                        <span class="fa fa-circle-o"></span><span> {{sensor.name}}</span>
                        </a>
                    </div>
                    <div ng-if="sensor.status == 'offline'"><span class="fa fa-circle-o"></span><span> {{sensor.name}}</span></div>
                </td>
                <td>{{sensor.status}}</td>
                <td>{{sensor.location}}</td>
                <td>{{sensor.temperature}}</td>
                <td>{{sensor.humidity}}</td>
                <td>{{sensor.light}}</td>
                <td>{{sensor.ip}}</td>
                <td title="{{sensor.id}}">{{sensor.id}}</td>
            </tr>
        </tbody>
</table>
</div>

  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>

        <input type="text" class="form-control" placeholder="Filter devices " ng-model="filterEthoscopes">

      </div>      
    </div>
  </form>

<!-- **** ETHOSCOPE LIST TABLE **** -->
<table class="table table-striped" ng-cloak>
            <thead>
            <th>
                <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse; orderEthoscopes = True">
                Name
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'status'; sortReverse = !sortReverse">
                Status
                <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'time'; sortReverse = !sortReverse">
                Since
                <span ng-show="sortType == 'time' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'time' && sortReverse" class="fa fa-caret-up"></span>    
            </th>
            <th>
                <a href="#" ng-click="sortType = 'time_since_backup'; sortReverse = !sortReverse">
                Time since backup
                <span ng-show="sortType == 'time_since_backup' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'time_since_backup' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'experimental_info.name'; sortReverse = !sortReverse">
                User
                <span ng-show="sortType == 'experimental_info.name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'experimental_info.name' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'experimental_info.location'; sortReverse = !sortReverse">
                Location
                <span ng-show="sortType == 'experimental_info.location' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'experimental_info.location' && sortReverse" class="fa fa-caret-up"></span>    
            </th>
            <th>
                <a href="#" ng-click="sortType = 'ip'; sortReverse = !sortReverse">
                ip
                    <span ng-show="sortType == 'ip' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'ip' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                id
                <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            </thead>
            <tbody>
            <tr ng-repeat="device in devices |  orderObjectBy:sortType:sortReverse:orderEthoscopes | filter:filterEthoscopes">
                <td>
                    <div ng-if="device.status != 'offline'">
                        <a ng-href="/#ethoscope/{{device.id}}" target="_blank">
                        <span>{{device.name}}</span>
                        </a>
                    </div>
                    <div ng-if="device.status == 'offline'">
                        <span>{{device.name}}</span>
                    </div>
                </td>
                <td>
                <span ng-if="device.status == 'initialising'" class="fas fa-spinner" title={{device.status}}></span>
                <span ng-if="device.status == 'running'" class="fa fa-play-circle color-green" title={{device.status}}></span>
                <span ng-if="device.status == 'recording'" class="fa fa-play-circle color-red" title={{device.status}}></span>
                <span ng-if="device.status == 'streaming'" class="fa fa-play-circle color-red" title={{device.status}}></span>
                <span ng-if="device.status == 'stopped'" class="fa fa-stop-circle" title={{device.status}}></span></td>
                <td>{{secToDate(device.time)}}</td>
                <td>{{elapsedtime(device.time_since_backup)}}</td>
                <td>{{device.experimental_info.name}}</td>
                <td>{{device.experimental_info.location}}</td>
                <td>
                    <span ng-if="device.status == 'offline'" title="Last known IP: {{device.ip}}">offline</span>
                    <span ng-if="device.status != 'offline'" >{{device.ip}}</span>
                </td>
                <td title="{{device.id}}">{{device.id.substring(0,6)}}</td>
            </tr>
        </tbody>
</table>
