<!-- home.html -->
    <div class="jumbotron text-center" ng-cloak>
        <h1>Platform Overview</h1>

        <!--<div class="intro">Scan the network to detect connected ethoscopes</div>-->
        <!--<button class=" btn btn-default" ng-click="get_devices()">Scan Network for Devices</button>-->


        <!--dddddddddddddddddd-->

        <div id="node-info" class="intro">
             <div class="row">
                 <div class="col-sm-6">
                <h2><span class="fa fa-list"></span> {{n_devices}} devices:</h2>
                    <li ng-repeat="(status, n) in status_n_summary">{{n}} {{status}} </li>
                </div>

                <div class="col-sm-6">
                <h2><span class="fa fa-clock-o"></span> Time:</h2>
                    <li> On the platform, {{time}}</li>
                    <li> On your machine, {{localtime}}</li>
                </div>

            </div>
        </div>

    </div>
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>

        <input type="text" class="form-control" placeholder="Filter devices " ng-model="filterEthoscopes">

      </div>      
    </div>
  </form>

<table class="table table-striped" ng-cloak>
            <thead>
            <th>
                <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                Name
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'status'; sortReverse = !sortReverse">
                Status
                <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'time'; sortReverse = !sortReverse">
                Since
                <span ng-show="sortType == 'time' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'time' && sortReverse" class="fa fa-caret-up"></span>    
            </th>
            <th>
                <a href="#" ng-click="sortType = 'time_since_backup'; sortReverse = !sortReverse">
                Time since backup
                <span ng-show="sortType == 'time_since_backup' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'time_since_backup' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'experimental_info.name'; sortReverse = !sortReverse">
                User
                <span ng-show="sortType == 'experimental_info.name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'experimental_info.name' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'experimental_info.location'; sortReverse = !sortReverse">
                Location
                <span ng-show="sortType == 'experimental_info.location' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'experimental_info.location' && sortReverse" class="fa fa-caret-up"></span>    
            </th>
            <th>
                <a href="#" ng-click="sortType = 'ip'; sortReverse = !sortReverse">
                ip
                    <span ng-show="sortType == 'ip' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'ip' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                id
                <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th><center>Select</center></th>
            </thead>
            <tbody>
            <tr ng-repeat="device in devices |  orderBy:sortType:sortReverse | filter:filterEthoscopes">
                <td>
                    <a ng-href="/#ethoscope/{{device.id}}" target="_blank">
                    <span class="fa fa-circle-o"></span><span> {{device.name}}</span>
                    </a>
                </td>
                <td><span ng-if="device.status == 'running'" class="fa fa-circle color-blue"></span>
                <span ng-if="device.status == 'recording'" class="fa fa-circle color-green"></span>
                <span ng-if="device.status == 'stopped'" class="fa fa-square color-red"></span> {{device.status}}</td>
                <td>{{secToDate(device.time)}}</td>
                <td>{{elapsedtime(device.time_since_backup)}}</td>
                <td>{{device.experimental_info.name}}</td>
                <td>{{device.experimental_info.location}}</td>
                <td>{{device.ip}}</td>
                <td>{{device.id.substring(0,6)}}</td>
                <td><center>
                    <input type="checkbox" checklist-model="devices_selected" checklist-value="device"></center>
                </td>
            </tr>
            </tbody>
    </table>


<!-- Modal start tracking -->
<!--gg: REMOVE THIS? Does not seem like it's used here any more. This is all handled by ethoscope.html instead -->
<!--
<div class="modal fade" id="startModal" tabindex="-1" role="dialog" aria-labelledby="startModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="startModalLabel">Select tracking type</h4>
      </div>
      <div class="modal-body">
          <form>
          <div ng-repeat="(name,option) in user_options">
            <h5>{{name}}</h5>
              <ul>
                <li ng-repeat="opt in option">
                    <input type=radio name={{opt.name}}>
                    {{opt.name}}: {{opt.overview}}
                  <ul>
                      <li>type: {{arg.type}}</li>
                      <li>test</li>
                        <li ng-repeat="arg in opt.arguments">
                            {{arg.description}}
                            <input ng-if="arg.type == 'number'" type=number name={{arg.name}} min={{arg.min}} max={{arg.max}} step={{arg.step}} value={{arg.default}} ngmodel="user_options.{{opt.name}}.{{arg.name}}" >
                            <input ng-if="arg.type == 'str'" type=text name={{arg.name}} value={{arg.default}} ngmodel="user_options.{{opt.name}}.{{arg.name}}">
                            <input ng-if="arg.type == 'datetime'" type=datetime name={{arg.name}} value={{arg.default}} ngmodel="user_options.{{opt.name}}.{{arg.name}}">
                        </li>
                    </ul>
                </li>
              </ul>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-if="device.status == 'stopped'">Cancel</button>
        <button type="button" class="btn btn-primary" ng-if="device.status == 'stopped'" ng-click="ethoscope.start()" data-toggle="modal">Start Tracking</button>
      </div>
    </div>
  </div>
</div>
-->
