<div ng-if="showOptions" class="col-xs-12" ng-cloak>
    <div ng-repeat="option in options">
    <a href=""  ng-click="exec_option(option.opt)" class="col-xs-1 option {{option.color}}"  >
                <p class="{{option.icon}}"></p>
                <p>{{option.name}}</p>
        </a>
    </div>
</div>
<div id="loading" class="spinner"></div>

<div ng-show="showOption == 'browse'" class="col-xs-12" ng-cloak>
    <h2>Files to be dowloaded:</h2>
    <div class="alert alert-info ">
        <p>Actions for selected files:</p>
        <button  class="btn btn-success" ng-click="browse.dowload()"  data-target="#downloadModal">Download</button>
        <button class="btn btn-danger" data-target="#deleteModal" data-toggle="modal">Delete</button>
        <button ng-if="selected_all == false" class="right btn btn-info" ng-click="browse.toggleAll()">Select All</button>
        <button ng-if="selected_all == true" class="right btn btn-warning" ng-click="browse.toggleAll()">Deselect All</button>

    </div>
    <div>
    <span>Total files: <strong>{{filesObj.length}}</strong></span>
    <p> You can sort the files clicking on the column name or filter with "search"</p>
    </div>
    <div id="controls" class="right">

        <span class="fa fa-search"></span><span>Search: <input ng-model="searchText"></span>
    </div>

    <table id="" class="table table-striped">
        <thead>
            <th><a href="" ng-click="predicate = 'device_name'; reverse=false"><span class="fa fa-circle-o"></span> Device Name</a></th>
        <th><a href="" ng-click="predicate = 'exp_date'; reverse=true"><span class="fa fa-calendar-o"></span> Exp Date</th>
        <th><a href="" ng-click="predicate = 'file'; reverse=false"><span class="fa fa-file-o"></span> File</th>
        <th><a href="" ng-click="predicate = 'size'; reverse=false"><span class="fa fa-file-o"></span> Size </th>
        <th>Select </th>
        </thead>
        <tbody>
            <tr ng-repeat="file in filesObj | filter:searchText | orderBy: predicate:reverse">
                <td><a href="#/sm{{file.device_id}}" target="_blank">{{file.device_name}}</a></td>
                <td>{{file.exp_date}}</td>
                <td><a href="/download{{file.url}}" target="_blank">{{file.file}}</a></td>
                <td>{{file.size}}</td>
                <td> <input type="checkbox" checklist-model="selected.files" checklist-value="file"></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal download -->
<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Download selected files as compresed zip file.</h4>
      </div>
      <div class="modal-body">
       <ul>
       <li ng-repeat="file in selected.files">{{file.file}}</li>
       </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="{{browse.download_url}}" target="_blank" type="button" class="btn btn-primary">Download as Zip</a>
      </div>
    </div>
  </div>
</div>
<!-- Modal Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="downloadModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Are you sure you want to remove the selected files?</h4>
      </div>
      <div class="modal-body">
       <ul>
       <li ng-repeat="file in selected.files">{{file.file}}</li>
       </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-click="browse.remove_files()" type="button" class="btn btn-danger">Remove Selected</button>
      </div>
    </div>
  </div>
</div>
<div ng-if="showOption=='update'" class="col-xs-12">
    <div ng-if="update_waiting" class="alert alert-warning"><h1 >Wait until all the devices are updated, this can take a while. Do not disconnect them from the mains.</h1></div>
    <div ng-if="update.error">
        <h3>Error details: {{update.error}}</h3>
    </div>
    <h3>Upstream version: {{origin.version.id | limitTo:6}} ({{origin.version.date}})</h3>
    <h3>Node version: {{node.version.id | limitTo:6}} ({{node.version.date}})</h3>

    <h4>{{update_text}}</h4>
    <div >
        <!--<h2>The following devices will be updated.</h2>-->
        <button class="btn btn-success" ng-click="update_selected('all')" data-toggle="modal" data-target="#updateDevicesModal">Update All Devices</button>
        <button class="btn btn-default" ng-click="update_selected(devices_to_update_selected)" data-toggle="modal" data-target="#updateDevicesModal">Update Selected</button>
        <button ng-if="node.version.id != origin.version.id" class="btn btn-primary" data-toggle="modal" data-target="#updateNodeModal" >Update Node</button>

        <table class="table table-striped" >
            <thead>
            <th>Name</th>
            <th>Status</th>
            <th>Software version</th>
            <th><center>Select</center></th>
            </thead>
            <tbody>
                <tr class="danger" ng-if="node.version != origin.version">
                    <td>
                    <a href="" target="_blank ">
                    <span class="fa fa-circle-o"></span><span> {{node.name}}</span>
                    </a>
                </td>
                <td>{{node.status}} /
                    <span ng-if="node.version != origin.version">Outdated</span>
                </td>
                <td>{{node.version.id | limitTo:6}} ({{node.version.date}})</td>
                <td>
                </td>
                </tr>
                <tr class="success" ng-if="node.version == origin.version">
                 <td>
                    <a href="" target="_blank ">
                    <span class="fa fa-circle-o"></span><span> {{node.name}}</span>
                    </a>
                </td>
                <td>{{node.status}} /
                     Up to date
                </td>
                <td>{{node.version.id | limitTo:6}} ({{node.version.date}})</td>
                <td>
                    </td>
                </tr>
            </tbody>
            <tbody ng-repeat="(k, d) in attached_devices" >
                <tr class="danger" ng-if="d.version != origin.version && d.status != 'stopped'">
                <td>
                    <a href="#/sm/{{d.id}}" target=_blank ng-if="d.name != 'Node'">
                    <span class="fa fa-circle-o"></span><span> {{d.name}}</span>
                    </a>
                </td>
                <td>{{d.status}} /
                    Outdated
                </td>
                <td>{{d.version.id | limitTo:6}} ({{d.version.date}})</td>
                <td>

                    </td>
                </tr>
                <tr class="warning" ng-if="d.version != origin.version.id && d.status == 'stopped'">
                    <td>
                    <a href="#/sm/{{d.id}}" target=_blank ng-if="d.name != 'Node'">
                    <span class="fa fa-circle-o"></span><span> {{d.name}}</span>
                    </a>
                </td>
                <td>{{d.status}} /
                    Outdated
                </td>
                <td>{{d.version.id | limitTo:6}} ({{d.version.date}})</td>
                <td>
                    <input type="checkbox" checklist-model="devices_to_update_selected" checklist-value="d">
                    </td>
                </tr>
                <tr class="success" ng-show="d.version == origin.version">
                 <td>
                    <a href="#/sm/{{d.id}}" target=_blank ng-if="d.name != 'Node'">
                    <span class="fa fa-circle-o"></span><span> {{d.name}}</span>
                    </a>
                </td>
                <td>{{d.status}} /
                    Up to date
                </td>
                <td>{{d.version.id | limitTo:6}} ({{d.version.date}})</td>
                <td>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>

</div>


<div ng-if="showOption == 'nodeManage'" class="col-xs-12">
    <hr></hr>
    <div>
        <h3>Node Parameters</h3>
        <p>Time on Network: {{nodeManagement.time}}</p>
        <p>Disk Usage: </p>
        <ul class="list-group col-xs-6">
            <li class="list-group-item">Device: {{nodeManagement.info.disk_usage[0]}}</li>
            <li class="list-group-item">Total Size: {{nodeManagement.info.disk_usage[1]}}</li>
            <li class="list-group-item">Used: {{nodeManagement.info.disk_usage[2]}}</li>
            <li class="list-group-item">Available: {{nodeManagement.info.disk_usage[3]}}</li>
            <li class="list-group-item">% used: {{nodeManagement.info.disk_usage[4]}}</li>
            <li class="list-group-item">Mounted on: {{nodeManagement.info.disk_usage[5]}}</li>
        </ul>
        <p>Internet Network: </p>
        <ul class="list-group col-xs-6">
            <li class="list-group-item">Device IP: {{nodeManagement.info.ip}}</li>
            <li class="list-group-item">Ethernet MAC Address: {{nodeManagement.info.MAC_addr}}</li>
        </ul>
    </div>

<div class="col-xs-12">

    <button class="btn btn-danger" data-toggle="modal" data-target="#powerOffAlert">Power off Node</button>
    </div>

</div>

<!-- Modal power off -->
<div class="modal fade" id="powerOffAlert" tabindex="-1" role="dialog" aria-labelledby="powerOffAlertLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
       <p>Do you want to power off the Node?</p>
       <p>You won't be able to connect to this website anymore.</p>
       <p>To power on Node again, you need to physically push the ON button.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-danger" ng-click="nodeManagement.action('poweroff')">Power off Node</button>
      </div>
    </div>
  </div>
</div>
<script>
    (function(){
        console.log("table");
 table = $('#browse_table').DataTable({
                            paging: true,
                            searching: true,
                            order:[2,'desc'],
                            "oLanguage": {
                                  "sSearch": "Filter Offers: "
                            }

                        });

})();</script>

