version: '3.8'

services:
  sandbox:
    build:
      context: .
      dockerfile: sandbox.dockerfile
    image: sandbox:latest
    container_name: ethoscope_sandbox
    ports:
      - "9000:80"
    stdin_open: true
    tty: true
    restart: unless-stopped
    networks:
      - sandbox_net

networks:
  sandbox_net:
    driver: bridge
