[Unit]
Description=Ethoscope GPIO button listener

[Service]
Type=simple
WorkingDirectory=/opt/ethoscope/src/ethoscope/ethoscope/hardware/interfaces/
ExecStart=/usr/bin/python3 /opt/ethoscope/src/ethoscope/ethoscope/hardware/interfaces/GPIO.py
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
