[Unit]
Description=Ethoscope SQLite results-only backup service using rsync
Wants=ntpd.service clock.service network-online.target
After=ntpd.service clock.service network-online.target


[Service]
Type=simple
WorkingDirectory=/opt/ethoscope/src/node/scripts/
ExecStart=/usr/bin/python /opt/ethoscope/src/node/scripts/rsync_backup_tool.py --results-only
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target