[Unit]
Description=Ethoscope unified backup service (videos + results) using rsync
Wants=ntpd.service clock.service network-online.target
After=ntpd.service clock.service network-online.target
Conflicts=ethoscope_backup_video.service ethoscope_backup_sqlite.service


[Service]
Type=simple
WorkingDirectory=/opt/ethoscope/src/node/scripts/
ExecStart=/usr/bin/python /opt/ethoscope/src/node/scripts/rsync_backup_tool.py --unified
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
