

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.log{
    margin: 0px;
    padding: 0px;
}

.color-green{
    color: green;
}
.color-red{
    color: red;
}


.last_drawn_img{
    margin-bottom: 1em;
}


.option{
    text-align: center;
    margin-right: 2em;
}

.device-list{
    margin-right: 2em;
}
.file-list{
    list-style: none;
}
.right{
    float:right;
}
