

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.log{
    margin: 0px;
    padding: 0px;
}

.color-green{
    color: green;
}
.color-red{
    color: red;
}


.last_drawn_img{
    margin-bottom: 1em;
}


