services:
  ethoscope-node:
    build:
      context: .
      dockerfile: node.dockerfile
    image: ethoscope-node
    container_name: ethoscope-node
    restart: unless-stopped
    ports:
      - "80:8080/tcp"          #node webUI
      - "8088:8088/tcp"        #node update webUI
    volumes:
      - /mnt/ethoscope_data:/ethoscope_data
      - ./.volumes/etc-ethoscope:/etc/ethoscope
      - /home/gg/Data/ethoscope_project/ethoscope:/opt/ethoscope-node:ro
    environment:
      - NODE_PORT: 8080
    network_mode: host

  vsftpd:
    image: metabrainz/docker-anon-ftp
    container_name: ethoscope-vsftpd
    depends_on:
      - ethoscope-node
    restart: unless-stopped
    network_mode: host
    environment:
      MAX_CLIENTS: "3"
      MAX_PER_IP: "2"
      FTPD_BANNER: "Welcome to the public ethoscope data FTP server of the Gilestro lab"
    volumes:
      - /mnt/ethoscope_data:/var/ftp:ro

  git-server:
    image: git-daemon
    build:
      context: ./git-server
      dockerfile: git-daemon.dockerfile
    container_name: ethoscope-git-daemon
    restart: unless-stopped
    environment:
      - REPO_URL=https://github.com/gilestrolab/ethoscope.git
    ports:
      - "9418:9418"
