<!-- home.html -->
    <div class="jumbotron text-center" >
        <h1>Device List</h1>
        <div>Scan the network to autodectect connected devices</div>

        <button class="btn btn-default" ng-click="get_devices()">Scan Network for Devices</button>

        <div  id="loading_devices" class="spinner"></div>

    </div>
    <div class="col-lg-4 alert alert-info" ng-repeat="device in devices">
        <a href="{{device.type}}/{{device.machine_id}}">
            <h3 ng-if="device.type == 'sm'">Sleep Monitor</h3>
            <h3 ng-if="device.type == 'sd'">Sleep Deprivator</h3>
             <!--<div><span class="fa fa-paw"></span> ID: {{device.machine_id}}</div>-->
            <div><span class="fa fa-genderless"></span> Name: {{device.name}}</div>
            <div><span ng-if="device.status == 'running'" class="fa fa-circle color-green"></span>
            <span ng-if="device.status == 'stopped'" class="fa fa-circle color-red"></span> Status: {{device.status}}

            </div>

            <!--<div><span class="fa fa-laptop"></span> IP: {{device.ip}}</div>-->
        </a>
    </div>
