<!-- home.html -->
    <div class="jumbotron text-center" >
        <h1>Device List</h1>
        <div>Scan the network to autodectect connected devices</div>

        <button class="btn btn-default" ng-click="get_devices()">Scan Network for Devices</button>

        <div  id="loading_devices" class="spinner"></div>
        <div id="node-info">
            <p><span class="fa fa-clock-o"></span> Node Time: {{time}}</p>
            <p><span class="fa fa-clock-o"></span> Local Time: {{localtime}}</p>
        </div>

    </div>

    <a ng-repeat="device in devices" href="{{device.type}}/{{device.id}}"  class="device-list">
        <div class="col-lg-4 alert alert-info" >
            <h3 ng-if="device.type == 'sm'">Sleep Monitor</h3>
            <h3 ng-if="device.type == 'sd'">Sleep Deprivator</h3>
             <!--<div><span class="fa fa-paw"></span> ID: {{device.machine_id}}</div>-->
            <div><span class="fa fa-genderless"></span> Name: {{device.name}}</div>
            <div><span ng-if="device.status == 'running'" class="fa fa-circle color-green"></span>
            <span ng-if="device.status == 'stopped'" class="fa fa-circle color-red"></span> Version: {{device.status}}
            </div>
            <div>
            <span class="fa fa-cog"></span> Status: {{device.version}}
            </div>
            <div>
                <span class="fa fa-laptop"></span> IP: {{device.ip}}
            </div>
        </div>
    </a>
