<div ng-if="showOptions" class="col-xs-12">
    <a href="" ng-repeat="option in options" ng-click="exec_option(option.opt)">
        <div class="col-xs-1 option {{option.color}}"  >
                <p class="{{option.icon}}"></p>
                <p>{{option.name}}</p>
        </div>
    </a>





</div>
<div ng-if="showFiles" class="col-xs-12">
    <h2>Files to be dowloaded:</h2>
    <div class="alert alert-info col-xs-12">
        <p>Actions for selected files:</p>
        <button class="btn btn-success" ng-click="browse.dowload()">Download</button>
        <button class="btn btn-danger">Delete</button>
        <button ng-if="selected_all == false" class="right btn btn-info" ng-click="browse.toggleAll()">Select All</button>
        <button ng-if="selected_all == true" class="right btn btn-warning" ng-click="browse.toggleAll()">Deselect All</button>
    </div>
    <div id="controls" class="">
        <a href="" ng-click="browse(prev_dir)"><span class="fa fa-chevron-left"></span> Back</a>
    </div>
    <table class="table table-striped">
        <thead>
        <th>Name</th>
        <th>Select </th>
        </thead>
        <tbody ng-repeat="file in files.files">
             <td ng-if="file.is_dir == true">
                <a href="" ng-click="browse(file.name)">
                <span class="fa fa-folder-o"></span><span ng-if="file.name.length > 75">{{file.name.substring(0,75)}}...</span><span ng-if="file.name.length <= 75"> {{file.name}}</span>
                </a>
            </td>
            <td ng-if="file.is_dir == false">
            <a ng-href="/download{{file.name}}"  target="_blank">
                <span class="fa fa-file-o"></span><span ng-if="file.name.length > 75">{{file.name.substring(0,75)}}...</span><span ng-if="file.name.length <= 75"> {{file.name}}</span>
            </a>
            </td>
            <td><input type="checkbox" checklist-model="selected.files" checklist-value="file"></td>
        </tbody>
    </table>
</div>
<div ng-if="showUpdates" class="col-xs-12">
    <h3>{{update.text}}</h3>
    <div ng-if="update.need_update == true">
        <h2>The following devices will be updated.</h2>
        <table class="table table-striped">
            <thead>
            <th>Name</th>
            <th>Select </th>
            </thead>
            <tbody ng-repeat="device in devices" ng-if="device.status == 'stopped'">
                 <td>
                    <a href="#/sm/{{device.id}}" target=_blank>
                    <span class="fa fa-circle-o"></span><span>{{device.name}}</span>
                    </a>
                </td>
                <td><input type="checkbox" checklist-model="" checklist-value=""></td>
            </tbody>
        </table>

        <div class="alert alert-danger">
        <h2>This devices will not be updated</h2>
            <p> They are connected but started. If you want to update them you need to stop the adquisition.</p>
            <table class="table table-striped">
            <thead>
            <th>Name</th>
            <th>Select </th>
            </thead>
            <tbody ng-repeat="device in devices" ng-if="device.status != 'stopped'">
                 <td>
                    <a href="#/sm/{{device.id}}" target=_blank>
                    <span class="fa fa-circle-o"></span><span>{{device.name}}</span>
                    </a>
                </td>
                <td><input type="checkbox" checklist-model="" checklist-value=""></td>
            </tbody>
        </table>
        </div>
    </div>

</div>
