<div ng-if="showOptions" class="col-xs-12">
    <div ng-repeat="option in options">
    <a href=""  ng-click="exec_option(option.opt)" class="col-xs-1 option {{option.color}}"  >
                <p class="{{option.icon}}"></p>
                <p>{{option.name}}</p>
        </a>

</div>



</div>
<div ng-if="showOption == 'browse'" class="col-xs-12">
    <h2>Files to be dowloaded:</h2>
    <div class="alert alert-info col-xs-12">
        <p>Actions for selected files:</p>
        <button class="btn btn-success" ng-click="browse.dowload()" data-toggle="modal" data-target="#downloadModal">Download</button>
        <button class="btn btn-danger">Delete</button>
        <button ng-if="selected_all == false" class="right btn btn-info" ng-click="browse.toggleAll()">Select All</button>
        <button ng-if="selected_all == true" class="right btn btn-warning" ng-click="browse.toggleAll()">Deselect All</button>
    </div>
    <div id="controls" class="">
        <a href="" ng-click="browse(prev_dir)"><span class="fa fa-chevron-left"></span> Back</a>
    </div>
    <table class="table table-striped">
        <thead>
        <th>Name</th>
        <th>Select </th>
        </thead>
        <tbody ng-repeat="file in files.files">
             <td ng-if="file.is_dir == true">
                <a href="" ng-click="browse(file.name)">
                <span class="fa fa-folder-o"></span><span ng-if="file.route_to_show.length > 75">{{file.route_to_show.substring(0,75)}}...</span><span ng-if="file.route_to_show.length <= 75"> {{file.route_to_show}}</span>
                </a>
            </td>
            <td ng-if="file.is_dir == false">
            <a ng-href="/download{{file.name}}"  target="_blank">
                <span class="fa fa-file-o"></span><span ng-if="file.route_to_show.length > 75">{{file.route_to_show.substring(0,75)}}...</span><span ng-if="file.route_to_show.length <= 75"> {{file.route_to_show}}</span>
            </a>
            </td>
            <td><input type="checkbox" checklist-model="selected.files" checklist-value="file"></td>
        </tbody>
    </table>
</div>

<!-- Modal download -->
<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Download selected files from this link</h4>
      </div>
      <div class="modal-body">
       <ul>
       <li ng-repeat="file in selected.files">{{file.route_to_show}}</li>
       </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="{{browse.download_url}}" target="_blank" type="button" class="btn btn-primary">Download All</a>
      </div>
    </div>
  </div>
</div>

<div ng-if="showOption=='update'" class="col-xs-12">
    <div ng-if="update_waiting" class="alert alert-warning"><h1 >Wait until all the devices are updated, this can take a while. Do not disconnect them from the mains.</h1></div>
    <div ng-if="devices_to_update.error">
        <h3 >Error on check the update. Have your node internet connection?</h3>
        <p>Error details: {{devices_to_update.error}}</p>
    </div>
    <h1 ng-if="!devices_to_update.error">{{update_text}}</h1>
    <div ng-if="(update_need_update == true) && (!(devices_to_update.hasOwnProperty('error')))">
        <h2>The following devices will be updated.</h2>
        <button class="btn btn-success" ng-click="update_selected(devices_to_update)">Update All</button>
        <button class="btn btn-default" ng-click="update_selected(devices_to_update_selected)">Update Selected</button>
        <p>Upstream version: {{origin.version}}</p>
        <table class="table table-striped">
            <thead>
            <th>Name</th>
            <th>Status</th>
            <th>Software version</th>
            <th>Select </th>
            </thead>
            <tbody ng-repeat="device in devices_to_update" ng-if="device.name == 'Node'" >
                <tr class="warning">
                <td>
                    <span class="fa fa-circle-o"></span><span> {{device.name}}</span>
                </td>
                <td>N/A</td>
                <td>{{device.version}}</td>

                <td><input type="checkbox" checklist-model="devices_to_update_selected" checklist-value="device"></td>
                </tr>

            </tbody>
            <tbody ng-repeat="device in devices_to_update" ng-if="device.status == 'stopped'">
                 <td>
                    <a href="#/sm/{{device.id}}" target=_blank>
                    <span class="fa fa-circle-o"></span><span> {{device.name}}</span>
                    </a>
                </td>
                <td>{{device.status}}</td>
                <td>{{device.version}}</td>
                <td><input type="checkbox" checklist-model="devices_to_update_selected" checklist-value="device"></td>

            </tbody>
        </table>

        <div class="alert alert-danger" ng-if="started==true">
        <h2>This devices will not be updated</h2>
            <p> They are connected but started. If you want to update them you need to stop the adquisition.</p>
            <table class="table table-striped">
            <thead>
            <th>Name</th>
            <th>Status</th>
            <th>Software version</th>
            </thead>
            <tbody ng-repeat="device in devices_to_update" ng-if="device.status != 'stopped' && device.name != 'Node'">
                 <td>
                    <a href="#/sm/{{device.id}}" target=_blank>
                    <span class="fa fa-circle-o"></span><span>{{device.name}}</span>
                    </a>
                </td>
                <td>{{device.status}}</td>
                <td>{{device.version}}</td>


            </tbody>
        </table>
        </div>
    </div>

</div>
