<div ng-if="showOptions" class="col-xs-12">
    <a href="" ng-repeat="option in options" ng-click="exec_option(option.opt)">
        <div class="col-xs-1 option {{option.color}}"  >
                <p class="{{option.icon}}"></p>
                <p>{{option.name}}</p>
        </div>
    </a>





</div>
<div ng-if="showFiles" class="col-xs-12">
    <h2>Files to be dowloaded:</h2>
    <div class="alert alert-info">
        <p>Select All: <input type="checkbox"></p>
        <p>Actions for selected files:</p>
        <button class="btn btn-success">Download</button>
        <button class="btn btn-danger">Delete</button>
    </div>
    <table class="table table-striped">
        <thead>
        <th>Name</th>
        <th>Select </th>
        </thead>
        <tbody ng-repeat="dir in files.dir">
            <td><span class="fa fa-folder-o"></span><span ng-if="dir.length > 25">{{dir.substring(0,25)}}...</span><span ng-if="dir.length <= 25">{{dir}}</span></td>
            <td><input type="checkbox"></td>
        </tbody>
        <tbody ng-repeat="file in files.files">
            <td><span class="fa fa-file-o"></span><span ng-if="file.length > 25">{{file.substring(0,25)}}...</span><span ng-if="file.length <= 25">{{file}}</span></td>
            <td><input type="checkbox"></td>
        </tbody>
    </table>

</div>
