<!-- home.html -->
    <div class="jumbotron text-center" ng-cloak>
        <h1>Sleep Monitor {{device.name}}</h1>
        <p>Here you can perform actions and know the status of the device</p>
        <div>
        <img ng-if="device.status == 'started'"  ng-src="{{device.ip}}:9000/static{{device.last_drawn_img}}" alt=""></img>
        </div>

        <button class="btn btn-success btn-xl" ng-if="device.status == 'stopped'" ng-click="sm.start()">Start</button>
        <button class="btn btn-danger" ng-if="device.status == 'started'"  ng-click="sm.stop()">Stop</button>
        <a href="{{device.ip}}:9000/static/tmp/out.csv.gz" class="btn btn-info" ng-click="sm.download()">Download Data</a>
        <button class="btn btn-info" ng-click="sm.log()">Log</button>
        <button class="btn btn-danger" data-toggle="modal" data-target="#powerOffAlert">Power off Device</button>

    </div>

    <div ng-if="showLog == true">
        <pre>
        <p class="log" ng-repeat="(key,entry) in device.log">{{key}}: {{entry}}</p></pre>
    </div>

    <div ng-if="device.status == 'started'">
        <table class="table table-striped">
            <thead>
                <th>ROI</th>
                <th>time</th>
                <th>X</th>
                <th>Y</th>
                <th>inferred</th>
                <th>interact</th>
            </thead>
            <tr ng-repeat="roi in device.last_positions | toArray | orderBy:'roi_value'">
                <td>{{roi.roi_value+1}}</td>
                <td>{{roi.t}}</td>
                <td>{{roi.x| number:0}}</td>
                <td>{{roi.y| number:0}}</td>
                <td ng-if="roi.is_inferred == true" style="background-color:#F2DEDE;">{{roi.is_inferred}}</td>
                <td ng-if="roi.is_inferred == false" >{{roi.is_inferred}}</td>

                <td>{{roi.interact}}</td>


            </tr>
        </table>
    </div>

<div id="powerffAlert" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="powerOffAlertLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Warning!</h4>
        </div>
        <div class="modal-body">
        <p>Do you want to power off the Device {{device.name}}? Any running acquisition will be ended.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
        <button type="button" class="btn btn-primary" >YES</button>
      </div>

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="powerOffAlert" tabindex="-1" role="dialog" aria-labelledby="powerOffAlertLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
       <p>Do you want to power off the Device {{device.name}}? Any running acquisition will be ended.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" ng-click="sm.poweroff()">Yes</button>
      </div>
    </div>
  </div>
</div>



