<!-- home.html -->
    <div class="jumbotron text-center" ng-cloak>
        <h1>Sleep Monitor {{device.name}}</h1>
        <p>Here you can perform actions and know the status of the device</p>

        <div class= "last_drawn_img">
        <img ng-if="device.status == 'running'"  ng-src="{{device.img}}" alt="" width="480"></img>
        </div>
        <div ng-if="device.status == 'running'">

            <p><span class="fa fa-clock-o"></span> Started on {{sm.start_date_time(device.time)}}
                (i.e. {{sm.elapsedtime(device.monitor_info.last_time_stamp)}}ago)</p>
        </div>

        <div ng-if="device.status == 'running'">
            <p>Processing speed: {{device.monitor_info.fps}} FPS</p>

            <p>Your file will be saved as: <a href="/download{{device.backup_path}}" target="_blank" data-toggle="tooltip" data-placement="top" title="{{device.backup_path}}">{{sm.readable_url(device.backup_path)}}</a></p>
            <p>Time since last backup: {{sm.elapsedtime(device.time_since_backup)}}</p>

        </div>
        <div id="starting" class="spinner" >
        </div>
        <div ng-if="device.status == 'initializating'">
            <p>Please wait, system is starting</p>
        </div>
        <div ng-if="device.status == 'stopping'">
            <p>Stopping tracking...</p>
        </div>
<div ng-if="device.status == 'stopped'">
<p>Time since last experiment: {{sm.elapsedtime(device.time_since_backup)}}</p>        </div>

        <button class="btn btn-success btn-xl" ng-if="device.status == 'stopped'"  data-toggle="modal" data-target="#startModal">Start</button>
        <button class="btn btn-danger" ng-if="device.status == 'running'"  ng-click="sm.stop() ">Stop</button>

        <button class="btn btn-info disable" ng-if="device.status == 'stopping'"  ng-click="sm.alert('Please wait, system is stopping')">Stopping</button>
        <button class="btn btn-danger disable" ng-if="device.status == 'initialising'"  ng-click="sm.alert('Please wait, system is starting')">Starting</button>

        <a href="/#/more/browse" class="btn btn-info">Download Data</a>
        <button class="btn btn-info" ng-click="sm.log()">Log</button>
        <button class="btn btn-danger" data-toggle="modal" data-target="#powerOffAlert">Power off Device</button>

    </div>
    <div id = "error" class="alert alert-danger text-center" ng-if="device.error">
        <p>Sorry there has been an error: {{device.error}}</p>
         <img  ng-src="{{device.ip}}:9000/static{{device.dbg_img}}?{{device.time}}" alt="No Debug Image" ng-if="device.dbg_img != null" width="480">
    </div>

    <div ng-if="showLog == true">
        <pre>
        <p class="log" ng-repeat="(key,entry) in log | toArray |orderBy: 'key'">{{key}}: {{entry}}</p></pre>
    </div>

    <div ng-if="device.status == false">
        <table class="table table-striped">
            <thead>
                <th>ROI</th>
                <!--<th>time</th>-->
                <th>X</th>
                <th>Y</th>
                <th>inferred</th>
                <th>interact</th>
            </thead>
            <tr ng-repeat="roi in device.monitor_info.last_positions | toArray | orderBy:'roi_value'">

                <!--@luis do not add +1 pls-->
                <td>{{roi.roi_idx}}</td>

                <!--@luis We should give only one time-->

                <!--<td>{{roi.t}}</td>-->
                <td>{{roi.x| number:0}}</td>
                <td>{{roi.y| number:0}}</td>
                <td ng-if="roi.is_inferred == true" style="background-color:#F2DEDE;">{{roi.is_inferred}}</td>
                <td ng-if="roi.is_inferred == false" >{{roi.is_inferred}}</td>

                <td>{{roi.has_interacted}}</td>


            </tr>
        </table>
    </div>

<div id="powerffAlert" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="powerOffAlertLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Warning!</h4>
        </div>
        <div class="modal-body">
        <p>Do you want to power off the Device {{device.name}}? Any running acquisition will be ended.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
        <button type="button" class="btn btn-primary" >YES</button>
      </div>

    </div>
</div>
<!-- Modal power off -->
<div class="modal fade" id="powerOffAlert" tabindex="-1" role="dialog" aria-labelledby="powerOffAlertLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
       <p>Do you want to power off the Device {{device.name}}? Any running acquisition will be ended.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" ng-click="sm.poweroff()" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal download -->
<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="downloadModalLabel">Download Data</h4>
      </div>
      <div class="modal-body">
          {{device}}
       <a ng-repeat="file in device.monitor_info.result_files" href="/download{{file}}" target="_blank">Device: {{file}}</a>
          <a ng-repeat="file in device.monitor_info.result_files" href="/download{{file}}" target="_blank">Node: {{file}}</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="sm.poweroff()">Download All</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal start tracking -->
<div class="modal fade" id="startModal" tabindex="-1" role="dialog" aria-labelledby="startModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="startModalLabel">Select tracking type</h4>
      </div>
      <div class="modal-body">
          <div class="list-group">
            <button type="button" class="list-group-item" ng-repeat="option in tracking.options" ng-click="sm.start(option)">{{option.name}}</button>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-if="device.status == 'stopped'" ng-click="sm.start()" data-toggle="modal">Start Tracking</button>
      </div>
    </div>
  </div>
</div>

