<!-- home.html -->
<div class="jumbotron text-center" ng-cloak>
    <div id="node-info" class="intro">
        <div class="row">
            <div class="col-sm-6">
                <h2><span class="fa fa-list"></span> {{n_devices}} devices:</h2>
                <li ng-repeat="(status, n) in status_n_summary">{{n}} {{status}} </li>
            </div>

            <div class="col-sm-6">
                <h2><span class="fa fa-clock"></span> Time</h2>
                <div class="time-info">
                    <div class="time-row">
                        <span class="time-label">On the platform:</span>
                        <span class="time-value">{{time}}</span>
                    </div>
                    <div class="time-row">
                        <span class="time-label">On the host:</span>
                        <span class="time-value">{{localtime}}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- **** SENSORS LIST TABLE **** -->
<div ng-if="has_sensors">
    <table class="table table-striped" ng-cloak>
        <thead>
            <th>
                <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse; orderSensors = True">
                    Name
                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'status'; sortReverse = !sortReverse">
                    Status
                    <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'location'; sortReverse = !sortReverse">
                    Location
                    <span ng-show="sortType == 'location' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'location' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'temperature'; sortReverse = !sortReverse">
                    Temperature
                    <span ng-show="sortType == 'temperature' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'temperature' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'humidity'; sortReverse = !sortReverse">
                    Humidity
                    <span ng-show="sortType == 'humidity' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'humidity' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'light'; sortReverse = !sortReverse">
                    Light
                    <span ng-show="sortType == 'light' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'light' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'ip'; sortReverse = !sortReverse">
                    ip
                    <span ng-show="sortType == 'ip' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'ip' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                    id
                    <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="sensor in sensors |  orderObjectBy:sortType:sortReverse:orderSensors">
                <td>
                    <div ng-if="sensor.status != 'offline'">
                        <a data-target="#editSensorModal" data-toggle="modal" data-sensor={{sensor}} href="">
                            <span class="fa fa-circle-o"></span><span> {{sensor.name}}</span>
                        </a>
                    </div>
                    <div ng-if="sensor.status == 'offline'"><span class="fa fa-circle-o"></span><span> {{sensor.name}}</span></div>
                </td>
                <td>{{sensor.status}}</td>
                <td>{{sensor.location}}</td>
                <td>{{sensor.temperature}}</td>
                <td>{{sensor.humidity}}</td>
                <td>{{sensor.light}}</td>
                <td>{{sensor.ip}}</td>
                <td title="{{sensor.id}}">{{sensor.id}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal EDIT Sensor -->
<div class="modal fade" id="editSensorModal" tabindex="-1" role="dialog" aria-labelledby="editSensorLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Sensor settings</h4>
            </div>
            <div class="modal-body">
                <!-- Loading spinner while sensor data is being loaded -->
                <div ng-if="!sensoredit || !sensoredit.id" class="text-center" style="padding: 20px;">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading sensor data...</span>
                    </div>
                    <p style="margin-top: 10px;">Loading sensor data...</p>
                </div>
                
                <!-- Sensor form - only shown when data is loaded -->
                <form name="editSensorForm" ng-if="sensoredit && sensoredit.id">
                    <div class="alert alert-warning" ng-if="!editSensorForm.$valid">The fields labeled by a red bar are required.</div>
                    <label class="input" id="sensor_details">{{sensoredit.id}} at {{sensoredit.ip}}</label>
                    <label class="input"><span ng-hide="sensoredit.name != null">Name</span><input type="text" ng-model="sensoredit.name" name="sensor-name" required ng-required="true" style="width: 240px;"></label>
                    <label class="input"><span ng-hide="sensoredit.location != null">Location</span><input type="text" ng-model="sensoredit.location" name="sensor-location" required ng-required="true" style="width: 240px;"></label>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger" ng-click="editSensor()" data-dismiss="modal" ng-disabled="!sensoredit || !sensoredit.id || editSensorForm.$invalid">Save</button>
            </div>
        </div>
    </div>
</div>

<form>
    <!-- Interface to quickly filter machines in the table -->
    <div class="form-group" id="userInputs">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Filter devices " ng-model="filterEthoscopes" title="Filter ethoscopes in the table below">
        </div>
    </div>

    <!-- Interface to manually add machines from IPs -->
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-plus" ng-click="manuallyAdd()"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="IP address of the device or comma separated IP addresses" ng-model="ip_to_add" ng-enter="manuallyAdd()" title="Manually add a device">
    </div>
</form>

<div class="modal fade" id="IPAlertModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="alertLabel">Problems adding some IPs</h4>
            </div>
            <div class="modal-body">
                {{alertMessage}}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>

        </div>
    </div>
</div>

<!-- Toggle to filter between online devices and offline/unreached devices -->
<div class="alert alert-neutral" style="background-color:#f2f2f2; margin-top: 15px;">
    <label class="toggle-check">Show online devices only
        <input name="showOnline" type="checkbox" class="toggle-check-input" ng-model="showOnline" ng-checked="true">
        <span class="toggle-check-text"></span>
    </label>
</div>

<!-- **** ETHOSCOPE LIST TABLE **** -->
<table class="table table-striped" ng-cloak>
    <thead>
        <th>
            <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse; orderEthoscopes = True">
                Name
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th>
            <a href="#" ng-click="sortType = 'status'; sortReverse = !sortReverse">
                Status
                <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th>
            <a href="#" ng-click="sortType = 'time'; sortReverse = !sortReverse">
                Since
                <span ng-show="sortType == 'time' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'time' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th>
            <a href="#" ng-click="sortType = 'time_since_backup'; sortReverse = !sortReverse">
                Time since backup
                <span ng-show="sortType == 'time_since_backup' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'time_since_backup' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th>
            <a href="#" ng-click="sortType = 'experimental_info.name'; sortReverse = !sortReverse">
                User
                <span ng-show="sortType == 'experimental_info.name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'experimental_info.name' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th>
            <a href="#" ng-click="sortType = 'experimental_info.location'; sortReverse = !sortReverse">
                Location
                <span ng-show="sortType == 'experimental_info.location' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'experimental_info.location' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th>
            <a href="#" ng-click="sortType = 'ip'; sortReverse = !sortReverse">
                ip
                <span ng-show="sortType == 'ip' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'ip' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th>
            <a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                id
                <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="device in devices | orderObjectBy:sortType:sortReverse:orderEthoscopes | filter:filterEthoscopes" ng-if="showOnline ? (device.status != 'offline') : (device.status == 'offline')">
            <td>
                <div ng-if="device.status != 'offline'">
                    <a ng-href="#!/ethoscope/{{device.id}}" target="_blank">
                        <span>{{device.name || device.id}}</span>
                    </a>
                </div>
                <div ng-if="device.status == 'offline'">
                    <span>{{device.name || device.id}}</span>
                </div>
            </td>
            <td>
                <span ng-if="device.status == 'initialising'" class="fas fa-spinner" title={{device.status}}></span>
                <span ng-if="device.status == 'running'" class="fa fa-play-circle color-green" title={{device.status}}></span>
                <span ng-if="device.status == 'recording'" class="fa fa-play-circle color-red" title={{device.status}}></span>
                <span ng-if="device.status == 'streaming'" class="fa fa-play-circle color-red" title={{device.status}}></span>
                <span ng-if="device.status == 'stopped'" class="fa fa-stop-circle" title={{device.status}}></span>
                <span ng-if="device.status == 'unreached'" class="fa fa-wifi color-red" title="Device temporarily unreachable"></span>
                <span ng-if="device.underpowered == true" class="fa fa-bolt" title="The device is underpowered!"></span></td>
            <td>{{secToDate(device.time || device.last_seen)}}</td>
            <td>
                <span class="fa fa-video-camera backup-status-icon" ng-class="getVideoBackupStatusClass(device)" title="{{getVideoBackupStatusTitle(device)}}"></span>
                <span class="fa fa-database backup-status-icon" ng-class="getDatabaseBackupStatusClass(device)" title="{{getDatabaseBackupStatusTitle(device)}}"></span>
                <span>{{getBackupStatusText(device)}}</span>
            </td>
            <td>
                <span ng-if="device.experimental_info.name != ''">{{device.experimental_info.name}}</span>
                <span ng-if="device.previous_user != '' && device.status == 'stopped'" style="color:grey;">{{device.previous_user}}</span>
            </td>
            <td>
                <span ng-if="device.experimental_info.location != ''">{{device.experimental_info.location}}</span>
                <span ng-if="device.previous_location != '' && device.status == 'stopped'" style="color:grey;">{{device.previous_location}}</span>
            <td>
                <span ng-if="device.status == 'offline' && device.last_ip" 
                      ng-click="pokeDevice(device)" 
                      class="poke-ip-button"
                      title="Click to attempt re-adding this device ({{device.last_ip}})">
                    <span class="fa fa-refresh fa-xs"></span> {{device.last_ip}}
                </span>
                <span ng-if="device.status == 'offline' && !device.last_ip" title="No IP available" style="color: grey;">No IP</span>
                <span ng-if="device.status == 'unreached'" title="Last known IP (device unreachable)" style="color: orange;">{{device.last_ip || device.ip || 'No IP'}}</span>
                <span ng-if="device.status != 'offline' && device.status != 'unreached'" title="pinged: {{device.ping}} times">{{device.ip}}</span>
            </td>
            <td title="{{device.id}}">{{device.id.substring(0,6)}}</td>
        </tr>
    </tbody>
</table>