[Unit]
Description=Ethoscope update server for device
Wants=ntpd.service clock.service
After=ntpd.service clock.service


[Service]
Type=simple
WorkingDirectory=/opt/ethoscope_updater/
ExecStart=/usr/bin/python3  /opt/ethoscope_updater/update_server.py -g /opt/ethoscope-device
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target

