[Unit]
Description=Node clock
#After=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python2  /home/node/pySolo-Video/scripts/init_rc_clock.py
ExecStart=/usr/bin/hwclock -s

[Install]
WantedBy=sysinit.target

