[Unit]
Description=Pysolovideo device server
Wants=ntpd.service mysqld.service
After=ntpd.service


[Service]
Type=simple
ExecStart=/usr/bin/python2 /home/psv/pySolo-Video/src/scripts/device_server.py --branch psv-dev
WorkingDirectory=/home/psv/pySolo-Video/src/scripts/
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target

