[Unit]
Description=Ethoscope node server
Wants=ntpd.service
After=ntpd.service


[Service]
Type=simple
WorkingDirectory=/opt/ethoscope-node/node_src/scripts
ExecStart=/usr/bin/python  /opt/ethoscope-node/node_src/scripts/server.py
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target

