[Unit]
Description=Ethoscope node server
Wants=ntpd.service
After=ntpd.service


[Service]
Type=simple
WorkingDirectory=/opt/ethoscope-node/node_src/scripts
Environment=NODE_PORT=80
EnvironmentFile=-/etc/ethoscope/environment
ExecStart=/usr/bin/python /opt/ethoscope-node/node_src/scripts/server.py --port=${NODE_PORT}
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target

