[Unit]
Description=Ethoscope node server
Wants=ntpd.service clock.service
After=ntpd.service clock.service


[Service]
Type=simple
WorkingDirectory=/opt/ethoscope-node/node_src/scripts/
ExecStart=/usr/bin/python  /opt/ethoscope-node/node_src/scripts/video_backup_tool.py
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target

