[Unit]
Description=Ethoscope device server
Wants=ntpd.service mysqld.service
After=ntpd.service network.target


[Service]
Type=simple
WorkingDirectory=/opt/ethoscope-device/src/scripts/
ExecStart=/usr/bin/python3 /opt/ethoscope-device/src/scripts/device_server.py -D
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target

