[Unit]
Description=Ethoscope device server
Wants=ntpd.service mysqld.service
After=ntpd.service


[Service]
Type=simple
WorkingDirectory=/opt/ethoscope-git/src/scripts/
ExecStart=/usr/bin/python2 /opt/ethoscope-git/src/scripts/device_server.py -D
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target

