[Unit]
Description=Pysolovideo node server
Wants=ntpd.service clock.service
After=ntpd.service clock.service


[Service]
Type=simple
WorkingDirectory=/home/node/ethoscope-git/node_src/scripts
ExecStart=/usr/bin/python2  /home/node/ethoscope-git/node_src/scripts/server.py --branch dev
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target

