[Unit]
Description=Pysolovideo node server
Wants=ntpd.service
After=ntpd.service

[Service]
Type=simple
WorkingDirectory=/home/node/ethoscope-git/scripts/
ExecStart=/usr/bin/python2  /home/node/ethoscope-git/scripts/init_rc_clock.py


[Install]
WantedBy=multi-user.target

